.moments {
  padding: 30px 0;
}

.post {
  padding: 15px 12px 12px;

  & +.post:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background-color: #e1e1df;
    transform: scale3d(1, 0.5, 1);
  }
}
