.post {
  position: relative;
  display: flex;
}

.avatar {
  flex: 0 0 auto;
  margin-right: 10px;
  border-radius: 3px;
  overflow: hidden;

  img {
    width: 42px;
  }
}

.body {
  flex: 1;
}

.username {
  display: inline-block;
  font-size: 16px;
  color: #576B94;
  font-weight: bold;
  text-decoration: none;

  &:active {
    border-radius: 1px;
    background-color: #cdd2dd;
  }
}

.content {
  margin: 8px 0 6px;
  font-size: 16px;
  line-height: 1.2;
  color: #212121;
  user-select: text;
}

.images {
  width: 240px;
  margin: 10px 0;

  &.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;

    &:global(.len-4) {
      width: 158px;
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      position: relative;
      font-size: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &:after {
        content: '';
        display: block;
        padding-top: 100%;
      }
    }
  }

  &.single {
    font-size: 0;

    .item {
      display: inline-block;
      position: relative;
      overflow: hidden;

      img {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
    }
  }
}

.address {
  margin-bottom: 5px;

  a {
    color: #576B94;
    font-size: 14px;
    text-decoration: none;

    &:active {
      border-radius: 1px;
      background-color: #c7c7c5;
    }
  }
}

.footer {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

.createdAt {
  color: #B4B4B4;
  font-size: 15px;
}
